# scala specifics
**/target
*.class
*.log
project/project

# intellij idea specifics
.idea/
*.iml

# code idea specifics
.dotty-ide.json
.dotty-ide-artifact

# vs code specifics
.vscode

# bloop specifics
metals.sbt
.bloop/
.metals/
.bsp/

# mac os x specifics
.DS_store

# z3 bindings
unmanaged/
